
body {
    padding: 0;
    margin: 0;
}
div.background {
 
    position: sticky;
    top: 0;
    background-color: #cae8ca;
   width: 1360px;
   height: 50px;
}

    



     /*end section 1  */

    /*start section 2 */
     /*end section 2  */

    /* start section 3  */
    
    /* end section 3  */

    /* start section 4 */
    /* end section 4  */

    /* start section 5  */
    /*  end section 5 */

    /* start section 6  */
    /*  end section 6 */



